@charset "UTF-8";

/* 탭 메뉴 스타일 */
.tab_menu {
  display: flex;
  align-items: center;
}

.tab_menu button {
  margin-right: 10px;
}

.tab_menu .list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tab_menu .list li {
  margin-right: 10px;
}

.tab_menu .list li a {
  text-decoration: none;
  color: black;
}

.tab_menu .list li.is_on a {
  font-weight: bold;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  padding: 20px;
}

.content.show {
  display: block;
}

/* 트리 스타일 */
ul.tree {
  list-style-type: none;
  padding: 0;
}

ul.tree .dept-name {
  font-weight: bold;
}

ul.tree ul {
  padding-left: 20px;
}

ul.tree .user-list {
  margin-top: 5px;
}

ul.tree .user-list a {
  text-decoration: none;
  color: blue;
}

ul.tree .folder-name {
  font-weight: bold;
}

ul.tree .af-list {
  margin-left: 20px;
}

ul.tree .af-list a {
  text-decoration: none;
  color: green;
}
.tab1_content #selectedUsers{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.tab1_content #selectedUsers .userDiv{
	flex: 1;
	padding-left: 10px;
}